.content {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    justify-content: center;

    h1 {
        display: flex;
        justify-content: center;
    }

    button {
        background-color: #ffffff;
        border: 0;
        margin-bottom: 20px;
        height: 70px;
        width: 600px;
        border-radius: 35px;
        margin-right: auto;
        margin-left: auto;
    }

    h3 {
        font-weight: 400;
        font-size: 22px;
    }
}