.header {
    border-bottom: 1px solid #f4f4f4;
    background-color: #FFFFFF;
    width: 1250px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    button {
        background: #FFFFFF;
        border: 1px solid #ffffff;
        border-radius: 25px;
        height: 50px;
        width: 50px;
        margin: 30px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #e8eff1;
            cursor: pointer;
        }
    }

    img {
        margin: 5px;
        width: 21px;
        height: 21px;
    }

    button:focus {
        background-color: #e8eff1;
    }
}

.menu {
    display: flex;
    align-items: center;

    h1 {
        color: #000000;
    }

    p {
        color: #000000;
    }

    img {
        margin-right: 20px;
        width: 60px;
        height: 60px;
    }
}

.name {
    display: flex;
    align-items: centers;
}

.title {
    h1 {
        font-size: 25px;
        margin: 0px;
    }

    p {
        margin: 0px;
        opacity: 5px;
    }
}

.location {
    display: flex;
    align-items: center;

    img {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }

    h3 {
        color: #000000;

        &:hover {
            text-decoration: underline;
        }
    }
}

.phone {
    display: flex;
    align-items: center;

    img {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }
}

.usercart {
    display: flex;
    align-items: center;
    margin-right: 30px;

    button {
        background: #FFFFFF;
        border: 1px solid #ffffff;
        border-radius: 25px;
        height: 50px;
        width: 50px;
        transition: background-color 0.2s ease-in-out;
        margin: 0;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #e8eff1;
            cursor: pointer;
        }
    }

    img {
        width: 25px;
        height: 25px;
    }

    h3 {
        margin-right: 25px;
        font-weight: 400;
        font-size: 16px;
        width: 80px;
    }
}