.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 120px;

    h1 {
        display: flex;
        justify-content: center;
    }

}

.reviews {
    margin-left: 70px;
}